USE [master]
GO
/****** Object:  Database [project baseis dedomnwn 21]    Script Date: 23/12/2021 8:39:33 μμ ******/
CREATE DATABASE [project baseis dedomnwn 21]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'project SQL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\project SQL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'project SQL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\project SQL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [project baseis dedomnwn 21].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [project baseis dedomnwn 21]
GO
/****** Object:  Table [dbo].[Akinhta]    Script Date: 23/12/2021 8:39:36 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Akinhta](
	[monadikos kwdikos] [varchar](50) NOT NULL,
	[arithmos] [varchar](50) NULL,
	[odos] [varchar](50) NULL,
	[TK] [varchar](10) NULL,
	[orofos] [varchar](10) NULL,
	[megethos] [varchar](50) NULL,
	[etos kataskeyhs] [varchar](50) NULL,
	[kwdikos perioxhs] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Akinhta] PRIMARY KEY CLUSTERED 
(
	[monadikos kwdikos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ektimhsh]    Script Date: 23/12/2021 8:39:36 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ektimhsh](
	[monadikos kwdikos] [varchar](50) NOT NULL,
	[timh] [numeric](18, 2) NULL,
	[kwdikos ek] [varchar](50) NOT NULL,
	[kwdikos a] [varchar](50) NOT NULL,
	[hmeromhnia] [date] NULL,
 CONSTRAINT [PK_Ektimhsh] PRIMARY KEY CLUSTERED 
(
	[monadikos kwdikos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ektimhths]    Script Date: 23/12/2021 8:39:36 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ektimhths](
	[monadikos kwdikos] [varchar](50) NOT NULL,
	[onoma] [varchar](50) NULL,
	[TK] [varchar](10) NULL,
	[odos] [varchar](50) NULL,
	[arithmos] [varchar](10) NULL,
	[fylo] [varchar](20) NULL,
	[hlikia] [nchar](10) NULL,
	[epitheto] [varchar](50) NULL,
 CONSTRAINT [PK_Ektimhths] PRIMARY KEY CLUSTERED 
(
	[monadikos kwdikos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grafeia]    Script Date: 23/12/2021 8:39:36 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grafeia](
	[kwdikos a] [varchar](50) NOT NULL,
	[AFM] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kathgories]    Script Date: 23/12/2021 8:39:36 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kathgories](
	[monadikos kwdikos] [varchar](50) NOT NULL,
	[onomasia] [varchar](50) NULL,
 CONSTRAINT [PK_Kathgories] PRIMARY KEY CLUSTERED 
(
	[monadikos kwdikos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Katoikies]    Script Date: 23/12/2021 8:39:36 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Katoikies](
	[kwdikos a] [varchar](50) NOT NULL,
	[AT] [varchar](50) NULL,
	[kwdikos kathgorias] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perioxh]    Script Date: 23/12/2021 8:39:36 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perioxh](
	[kwdikos] [varchar](50) NOT NULL,
	[onomasia] [varchar](50) NULL,
	[plithismos] [varchar](50) NULL,
	[meso eisodhma] [varchar](50) NULL,
	[anwterh perioxh] [varchar](50) NULL,
 CONSTRAINT [PK_Perioxh] PRIMARY KEY CLUSTERED 
(
	[kwdikos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Syndesh]    Script Date: 23/12/2021 8:39:36 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Syndesh](
	[wra] [varchar](50) NULL,
	[diarkeia syndeshs] [varchar](50) NULL,
	[kwdikos ek] [varchar](50) NOT NULL,
	[hmeromhnia] [date] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Syndesh]    Script Date: 23/12/2021 8:39:36 μμ ******/
CREATE NONCLUSTERED INDEX [IX_Syndesh] ON [dbo].[Syndesh]
(
	[wra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Akinhta]  WITH CHECK ADD  CONSTRAINT [FK_Akinhta_Perioxh] FOREIGN KEY([kwdikos perioxhs])
REFERENCES [dbo].[Perioxh] ([kwdikos])
GO
ALTER TABLE [dbo].[Akinhta] CHECK CONSTRAINT [FK_Akinhta_Perioxh]
GO
ALTER TABLE [dbo].[Ektimhsh]  WITH CHECK ADD  CONSTRAINT [FK_Ektimhsh_Akinhta] FOREIGN KEY([kwdikos a])
REFERENCES [dbo].[Akinhta] ([monadikos kwdikos])
GO
ALTER TABLE [dbo].[Ektimhsh] CHECK CONSTRAINT [FK_Ektimhsh_Akinhta]
GO
ALTER TABLE [dbo].[Ektimhsh]  WITH CHECK ADD  CONSTRAINT [FK_Ektimhsh_Ektimhths] FOREIGN KEY([kwdikos ek])
REFERENCES [dbo].[Ektimhths] ([monadikos kwdikos])
GO
ALTER TABLE [dbo].[Ektimhsh] CHECK CONSTRAINT [FK_Ektimhsh_Ektimhths]
GO
ALTER TABLE [dbo].[Grafeia]  WITH CHECK ADD  CONSTRAINT [FK_Grafeia_Akinhta] FOREIGN KEY([kwdikos a])
REFERENCES [dbo].[Akinhta] ([monadikos kwdikos])
GO
ALTER TABLE [dbo].[Grafeia] CHECK CONSTRAINT [FK_Grafeia_Akinhta]
GO
ALTER TABLE [dbo].[Katoikies]  WITH CHECK ADD  CONSTRAINT [FK_Katoikies_Akinhta] FOREIGN KEY([kwdikos a])
REFERENCES [dbo].[Akinhta] ([monadikos kwdikos])
GO
ALTER TABLE [dbo].[Katoikies] CHECK CONSTRAINT [FK_Katoikies_Akinhta]
GO
ALTER TABLE [dbo].[Katoikies]  WITH CHECK ADD  CONSTRAINT [FK_Katoikies_Kathgories] FOREIGN KEY([kwdikos kathgorias])
REFERENCES [dbo].[Kathgories] ([monadikos kwdikos])
GO
ALTER TABLE [dbo].[Katoikies] CHECK CONSTRAINT [FK_Katoikies_Kathgories]
GO
ALTER TABLE [dbo].[Perioxh]  WITH CHECK ADD  CONSTRAINT [FK_Perioxh_Perioxh] FOREIGN KEY([anwterh perioxh])
REFERENCES [dbo].[Perioxh] ([kwdikos])
GO
ALTER TABLE [dbo].[Perioxh] CHECK CONSTRAINT [FK_Perioxh_Perioxh]
GO
ALTER TABLE [dbo].[Syndesh]  WITH CHECK ADD  CONSTRAINT [FK_Syndesh_Ektimhths] FOREIGN KEY([kwdikos ek])
REFERENCES [dbo].[Ektimhths] ([monadikos kwdikos])
GO
ALTER TABLE [dbo].[Syndesh] CHECK CONSTRAINT [FK_Syndesh_Ektimhths]
GO
USE [master]
GO
